.page-container {
  box-sizing: border-box;
  padding-top: 64px;
  height: 100%;
}

@media (max-width: 600px) {
  .page-container {
    padding-top: 56px;
  }
}

.fixedElement {
  position: fixed;
  z-index: 10;
}

.loading-indicator {
  margin: 12px;
}
