<div class="page">
  <h1>Data Administration</h1>

  <p>
    This is a generic data administration UI that allows direct editing of
    entities.
  </p>
  <button mat-raised-button (click)="loadCategories('category')">
    Load Categories
  </button>
  <mat-card class="admin-card">
    <div class="grid-container">
      <button mat-raised-button color="primary" (click)="newCategory()">
        New
      </button>

      <div class="grid-item flex-container" *ngFor="let category of categories">
        <div class="flex-item-left">
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="category.name" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Slug</mat-label>
            <input matInput [(ngModel)]="category.slug" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Icon</mat-label>
            <input matInput [(ngModel)]="category.icon" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Sort</mat-label>
            <input matInput [(ngModel)]="category.sort" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Parent Category (ID)</mat-label>
            <input matInput [(ngModel)]="category.parent" />
          </mat-form-field>

          <mat-form-field class="json">
            <mat-label>JSON</mat-label>
            <textarea matInput rows="8" disabled="disabled">{{
              category | json
            }}</textarea>
          </mat-form-field>
        </div>
        <div class="flex-item-right">
          &nbsp;
          <button
            mat-raised-button
            color="primary"
            (click)="saveCategory(category)"
          >
            Save</button
          >&nbsp;
          <button
            mat-raised-button
            color="warn"
            (click)="deleteCategory(category._id)"
          >
            Delete
          </button>
          <br /><br />

          {{ category.name }}<br />
          {{ category._id }}
        </div>
      </div>
    </div>
  </mat-card>

  <button mat-raised-button (click)="loadCollections('collection')">
    Load Collections
  </button>

  <mat-card class="admin-card">
    <div *ngFor="let collection of collections">{{ collection.name }}</div>
  </mat-card>

  <button mat-raised-button (click)="loadUsers('user')">Load Users</button>
  <mat-card class="admin-card">
    <div class="grid-container">
      <button mat-raised-button color="primary" (click)="newUser()">New</button>

      <div class="grid-item flex-container" *ngFor="let item of users">
        <div class="flex-item-left">
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="item.name" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Identifier</mat-label>
            <input matInput [(ngModel)]="item.did" />
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="item.email" />
          </mat-form-field>

          <mat-form-field class="json">
            <mat-label>JSON</mat-label>
            <textarea matInput rows="8" disabled="disabled">{{
              item | json
            }}</textarea>
          </mat-form-field>
        </div>
        <div class="flex-item-right">
          &nbsp;
          <button
            mat-raised-button
            color="primary"
            (click)="saveUser(item)"
          >
            Save</button
          >&nbsp;
          <button
            mat-raised-button
            color="warn"
            (click)="deleteUser(item._id)"
          >
            Delete
          </button>
          <br /><br />

          {{ item.name }}<br />
          {{ item._id }}
        </div>
      </div>
    </div>
  </mat-card>
</div>
