<div class="categories">
  <a
    [routerLink]="['/category', category.slug]"
    class="category"
    *ngFor="let category of categories; let i = index"
  >
    <mat-icon inline="true">{{ category.icon }}</mat-icon
    ><br />
    <span>{{ category.name }}</span>
  </a>

  <a [routerLink]="['/map', 'liberstad']" class="category">
    <mat-icon inline="true">map</mat-icon><br />
    <span>City Tiles</span>
  </a>
</div>

<p class="remark">
  Blockcore Market is an experimental software (<a
    href="https://github.com/block-core/blockcore-market"
    target="_blank"
    >source code</a
  >), use at your own risk. Data will be deleted and lost.
</p>

<!--
<div class="categories">
  <a routerLink="/collection" class="category">
    <mat-icon inline="true">chair</mat-icon><br />
    <span>The Square</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">home</mat-icon><br />
    <span>Real Estate</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">directions_car</mat-icon><br />
    <span>Automotive</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">local_shipping</mat-icon><br />
    <span>Shipping</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">work</mat-icon><br />
    <span>Jobs</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">flight</mat-icon><br />
    <span>Travel</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">flight</mat-icon><br />
    <span>Travel</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">emoji_transportation</mat-icon><br />
    <span>Transportation</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">cabin</mat-icon><br />
    <span>Cabins</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">confirmation_number</mat-icon><br />
    <span>Tickets</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">spa</mat-icon><br />
    <span>Treatments</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">currency_bitcoin</mat-icon><br />
    <span>Currency Trade</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">construction</mat-icon><br />
    <span>Construction</span>
  </a>

  <a routerLink="/collection" class="category">
    <mat-icon inline="true">car_rental</mat-icon><br />
    <span>Car Rental</span>
  </a>
</div>
-->
