.categories .mat-icon {
  font-size: 4em;
}

.category {
  display: inline-block;
  text-align: center;
  color: white;
  text-decoration: none;
}

.category:hover {
  color: var(--accent);
  text-decoration: underline;
}

.category span {
  line-break: both;
}

.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 18px;
}

@media (max-width: 760px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 240px) {
  .categories {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
