<mat-toolbar class="fixedElement" color="primary">
  <!-- <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <a class="link" routerLink="/">
    <img
      src="/assets/icons/icon-72x72.png"
      alt="Free City Hub"
      height="32"
      width="32"
      style="margin-right: 10px"
  /></a>

  <span><a class="link" routerLink="/">Free City Hub</a></span>
  <span class="toolbar-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->

  <button
    routerLink="/create"
    target="_blank"
    mat-icon-button
    title="New ad"
  >
    <mat-icon>add_circle</mat-icon>
  </button>

  <button
    *ngIf="!loading && appState.approved"
    routerLink="/create"
    target="_blank"
    mat-icon-button
    title="New ad"
  >
    <mat-icon>add_circle</mat-icon>
  </button>

  <button
    *ngIf="!loading && appState.authenticated"
    routerLink="/profile"
    target="_blank"
    mat-icon-button
    title="Profile"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <button
    *ngIf="!loading && appState.admin"
    routerLink="/admin"
    target="_blank"
    mat-icon-button
    title="Administration"
  >
    <mat-icon>settings</mat-icon>
  </button>

  <!-- <a
    href="https://github.com/block-core/blockcore-market"
    target="_blank"
    mat-icon-button
    title="View Source Code"
  >
    <mat-icon>code</mat-icon>
  </a> -->

  <mat-spinner
    *ngIf="loading"
    class="loading-indicator"
    color="accent"
    diameter="24"
  ></mat-spinner>

  <button
    *ngIf="!loading && !appState.authenticated"
    (click)="login()"
    target="_blank"
    mat-icon-button
    title="Login"
  >
    <mat-icon>login</mat-icon>
  </button>

  <button
    *ngIf="!loading && appState.authenticated"
    (click)="logout()"
    target="_blank"
    mat-icon-button
    title="Logout"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="page-container">
  <router-outlet></router-outlet>
</div>
<!-- <mat-sidenav-container>
  <mat-sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    Sidenav content
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span><a class="link" routerLink="/">Blockcore Market</a></span>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet> -->
